.indexContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.index {
  border: none;
  padding: 0px;
  margin: 0px;
  height: 8px;
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(50, 50, 50, 0.5);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 500ms;
}